
.carrusel{
    width: 90%;
    max-width: 120em;
    
}

.carrusel .grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel .img{
    width: calc(100%/2);
    min-height: 10vh;
}

.carrusel .puntos {
    width: 100%;
    padding: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carrusel .punto {
    width: 2em;
    height: 2em;
    margin: 1em;

}

.carrusel .punto.activo {
    
}