* {
    box-sizing: border-box;
    font-family: Century;
    padding:0;
}

.banner_box {
    width: 100%;
    height: auto;
    overflow: hidden;

    ul {
        display: flex;
        align-content: center;
        width: 600%;
        animation: slide 200s infinite alternate ease-in-out;

        li {
            width: 100%;
            list-style: none;
            position: relative;
    
            .txt_banner {
                position: absolute;
                text-align: center;
                top: 50px;
                color: rgb(156, 5, 5);

                h2 {
                    font-family: Century;
                    font-size: 30px;
                    text-align: center;
                }
            } 
        }
    }

    .img_banner {
        width: 100%;
        border-radius: 0px 0px 300px 300px;

    }

}


@keyframes slide {
    0% {margin-left: 0; }
    17% {margin-left: 0; }

    17% {margin-left: -100%; }
    34% {margin-left: -100%; }

    34% {margin-left: -200%; }
    51% {margin-left: -200%; }

    51% {margin-left: -300%; }
    67% {margin-left: -300%; }

    67% {margin-left: -400%; }
    83% {margin-left: -400%; }

    83% {margin-left: -500%; }
    100% {margin-left: -500%; }
}
    
/* @media (max-width:991px) {

    .banner_box {
        width: 100%;
    }
    .txt_banner {
        top: 50px;
        padding: 0;
    } 
}*/