@use 'mixin.scss';





body {
        
        font-family: century;

    .detail-title {
        color: black;
        font-weight: 700;
        font-size: 100px;
        font-family: century;
        font-style: normal;
        font-variant: small-caps;
        line-height: 40px;
        text-transform: uppercase;
        }

    .detail-p {
        font-size: 35px;
        font-family: century;
    }
}

#detail-container {

    img {
        width: 800px;
        height: 800px;
    }

    .heart {
        width: 50px;
        height: 50px;
        position: fixed;
    }

    .detail-cart {
        width: 50px;
        height: 50px;
        position: relative;
        padding-right: 20px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10%;

        h1 {
            margin-left: 50px;
            font-size: 60px;
        }
    }

    .main-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 150px;
        height: 830px;
    
        h3 {
            text-align: center;
            font-size: 100px;
            font-family: century;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: #EE3535; 
            color: white;
            padding: 15px;
            font-family: century;
            font-size: 50px;
            text-align: center;
            margin: 10px 10px;
            cursor: pointer;
        }
     }
    
}

#review-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        width: 200px;
        height: 200px;
    }

    li {
        font-size: 30px;
        font-family: century;
    }
}

.thumbnails {
    cursor: pointer;
    opacity: .7;
    transition: .3s;
}

.thumbnails:hover {
    opacity: 1;
}

.active {
    opacity: 1 !important;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

.mymain {
    
    img {
        width: 50%;
        height: 50%;
    }
}
