@use 'mixin.scss';

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,7200;1,7200&family=Skranji&display=swap');


header {
    display: flex;
    background-image: url("../../public/img/fire2.jpg");   
    height: 220px;
    justify-content: space-between;    
    align-items: center;  
    background-clip: padding-box;
    background-position: left;
    background-size: contain;
    background-attachment: fixed;
}

header h1 {    
    font-family: Kaushan Script; 
}

#nameShop {
    font-family: Kaushan Script;
}

#logo {
    width: 250px;
    padding-left: 150px;
}

h1 {
    text-align: center;
    font-size: 120px;
    letter-spacing: 35px;
    color: white;
    padding-right: 100px;   
}

#menu2 {
    margin-right: 20px;
    float: top;
    height: 60%;
}

#menu2 img {
    width: 40px;
}

#star:hover{ 
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
    
#star:hover{
    -moz-transform: rotate(540deg);
    -webkit-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    transform: rotate(540deg);
}

button {
    border: none;    
}

.dcha:hover {
    scale: 1.5;
}

#arrow {
    position: relative;
    z-index: 2;
    top: -50px;
    float: right;
    padding-right: 20px;
} 

#arrow:hover{ 
    scale: 1.2;
}
 
