@use 'mixin.scss';


header {
    display: flex;
    background-image: url("../../public/img/castle_disney_2.jpg");   
    height: 220px;
    justify-content: space-between;    
    align-items: center;  
    background-clip: content-box;
    background-position: center;
}

.head {
  display: flex;
  background-image: url("/public/img/castle_n_2.jpg");
  height: 240px;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#arrow {
  float: right;
  position: relative;
  z-index: 2;
  top: -80px;
  right: 100px; 
}


#logo {
    width: 150px;
    padding-left: 50px;
}


h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: century;
}

#menu2 {
    margin-right: 20px;
    float: top;
    height: 80%;
}

button {
    border: none;
    
}

.dcha:hover {
    scale: 1.5;
}