@use 'mixin.scss';

#navigator-bar {
    list-style-type: none;
    text-align: center;
    font-family: Century;
}

#navigator-bar li {
    display: inline;
    text-align: center;
}

#navigator-bar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
}

#nav-content {
    border: black solid 1px;
}