@use 'mixin.scss';

#navigator-bar {
    list-style-type: none;
    text-align: center;
    font-family: Century;
    font-size: larger;
}

#navigator-bar li {
    display: inline;
    text-align: center;
}

#navigator-bar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}